.splash-screen-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 1280px;
    width: 100%;
    min-height: 720px;
    height: 100vh;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.splash-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1067px;
    width: 80vw;
    min-height: 600px;
    height: 80vh;
    background-color: white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.splash-screen-progress-bar {
    width: 70%;
}
