.profile-changer {
    display: flex;
    justify-content: space-evenly;
}

.profile-changer-button {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 0px 3px;
}
