.message-container {
    max-width: 60%;
    // background-color: pink;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

.message-sent {
    align-self: flex-end;
    background-color: hsl(204, 86%, 53%);
    color: white;
}

.message-received {
    align-self: flex-start;
    background-color: hsl(0, 0%, 80%);
}
.message-name {
    font-weight: 700;
    margin-right: 10px;
}
.message-content-container {
    display: flex;
    justify-content: space-between;
}
.message-content {
    margin-right: 5px;
}

.message-status {
    white-space: nowrap;
}

// .message-status.message-received {
//     display: none;
// }
