.profile_page_dp_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
}
.profile_page_dp {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
